.add-task-form {
  position: relative;
  z-index: 3;
  background-color: white;
  padding: 15px;
  border-radius: 25px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.add-task-form__hide-form {
  right: 15px;
  top: 7px;
  margin: auto;
  position: absolute;
  width: 40px;
  transition: width 0.2s, top 0.2s, right 0.2s;
}

.add-task-form__hide-form:hover {
  cursor: pointer;
  width: 47px;
  top: 2px;
  right: 10px;
}

.add-task-form input,
.add-task-form textarea {
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 25px;
  line-height: 30px;
}

.add-task-form label {
  font: normal normal 600 150%/120% "Kufam", sans-serif;
}

.add-task-form__container {
  justify-content: space-between;
  display: flex;
  gap: 20px;
}

.add-task-form__date-container,
.add-task-form__name-container {
  width: 100%;
}

.add-task-form__container input {
  box-sizing: border-box;
  width: 100%;
}

.add-task-form__description-field {
  min-height: 100px;
  padding: 4px;
}

.add-task-form__button {
  display: block;
  font: normal normal 600 150%/110% "Kufam", sans-serif;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.add-task-form__button_hide {
  display: none;
}

/* Animation */

.add-task-form__lds-ellipsis {
  display: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  position: relative;
  height: 60px;
  width: 70px;
  align-self: center;
}

.add-task-form__lds-ellipsis_show {
  display: block;
}

.add-task-form__lds-ellipsis div {
  position: absolute;
  top: 25px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #303841;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.add-task-form__lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.add-task-form__lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.add-task-form__lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.add-task-form__lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
