.list-of-lists {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: scroll;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 7px;
}

.list-of-lists::-webkit-scrollbar {
  width: 10px;
}

.list-of-lists::-webkit-scrollbar-track {
  border-radius: 20px;
  margin: 14px 0;
}

.list-of-lists::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: darkgrey;
}

.list-of-lists__link {
  cursor: crosshair;
  text-decoration: none;
}

.active {
  padding: 3px 3px 3px 7px;
  background-color: #d3d6db;
  border-radius: 5px;
}

.active ~ .list-of-lists__task-count {
  padding: 3px 5px;
}

.list-of-lists__item {
  display: flex;
  justify-content: space-between;
}
