.list {
  background-color: #d3d6db;
  border-radius: 25px;
  padding: 15px;
  box-sizing: border-box;
  min-height: 525px;
  height: fit-content;
  overflow-y: scroll;

  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  gap: 20px;
}

.list_show-done .task_done {
  display: block;
}

.list__name {
  font: normal normal 600 200%/120% "Kufam", sans-serif;

  color: #303841;
  margin: 0;
}

.list__tasks {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  gap: 20px;
}
